.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: white;
  padding: 10px 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-left a {
  margin-left: 10px;
}

.navbtn {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

#logout {
  background-color: #ef4444;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

#logout:hover {
  background-color: #dc2626;
}